[include]
  path = ~/.gitconfig.local

[core]
  editor = vim
  pager = less -R
	excludesfile = ~/.gitglobalignore
	autocrlf = input
	precomposeunicode = true
	quotepath = false

[color]
  branch = auto
  diff = auto
  status = auto
	ui = true

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[credential]
	helper = osxkeychain

[push]
	default = simple

[help]
	autocorrect = 1

[alias]
  ls = ls-files
  s = status
  st = status
  ci = "!staged_files=$(git diff --cached --name-only) && if [ -z \"$staged_files\" ]; then echo '🔴 No files staged. Commit aborted.'; exit 1; fi && echo \"$staged_files\" | xargs grep -n '\\[XXX\\]' > /dev/null && echo '🛑 [XXX] found in staged files. Fix before committing.' && echo \"$staged_files\" | xargs grep -n '\\[XXX\\]' || git commit"
  cia = commit --amend
  cias = commit --amend --no-edit --sign
  b = !git --no-pager branch --sort=-committerdate
  co = checkout
  d = diff
  ds = diff --staged
  lg = log --pretty=format:'%Cred%h%Creset -%C(red)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --reverse
	lgs = !git log --graph --simplify-by-decoration --color | tac | tr '\\\\/' '/\\\\'
  lgvv = !git log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold red)%d%C(reset)%n''          %C(black)%s%C(reset) %C(bold black)— %an%C(reset)' --abbrev-commit --color | tac | tr '\\\\/' '/\\\\'
  lgvs = !git log --graph --simplify-by-decoration --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold red)%d%C(reset)%n''          %C(black)%s%C(reset) %C(bold black)— %an%C(reset)' --abbrev-commit --color | echo \"\n$(cat -)\" | tac | tr '\\\\/' '/\\\\'
  origlog = log --name-status ORIG_HEAD.. --reverse
  origdiff = diff ORIG_HEAD..
  rmrmd = !bash -c 'git rm $(git ls-files -d)'
  a = add -p
  rs = restore --staged -p
  rsp = restore --staged -p
  m = merge
  ma = merge --abort
  r = rebase
  ri = rebase --interactive
  rc = rebase --continue
  ra = rebase --abort
  cb = branch --show-current

  forcemoveto = "!git checkout $1 && git branch -f @{-1} && git checkout @{-1}"

  gonebranches = "!git remote prune origin && git branch -vv | grep ': gone]' | awk '{print $1}'"
  noremotebranches = "!git remote prune origin && git branch -vv | grep ': gone]' | awk '{print $1}'"

  publish = "!f(){\
    set -e; \
    branch_name=$(git rev-parse --abbrev-ref HEAD); \
    git push -u origin $branch_name; \
    }; f "
  pub = "!f(){ git publish \"$@\"; }; f"  # direct aliases don't work for complex aliases
	pushversions = !git tag -l \"v*\" | xargs -n 1 git push origin

  # sync current branch
  sync = "!f(){\
    set -e; \
    git stash --include-untracked; \
    git pull --rebase; \
    git push; \
    git stash pop; \
    }; f "

  # set upstream on existing branch
  setupstream = "!f(){\
    set -e; \
    branch_name=$(git rev-parse --abbrev-ref HEAD); \
    git branch --set-upstream-to=origin/$branch_name $branch_name; \
    }; f "

  bmap = "!f(){\
    git branch \
    | grep --invert-match '\\*' \
    | cut -c 3- \
    | fzf --multi --height 40% --layout=reverse \
          --preview='git --no-pager lg {}' \
          --preview-window='right:80%:wrap:follow' \
          --bind 'pgup:preview-page-up,pgdn:preview-page-down,ctrl-j:preview-down,ctrl-k:preview-up' \
    | xargs -I% git \"$@\" % ; \
    }; f "

[merge]
  conflictstyle = diff3

[diff "bin"]
  textconv = hexdump -v -C

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[diff]
	wsErrorHighlight = all
[init]
	defaultBranch = main
[gpg]
	format = ssh
